* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x:hidden;
}

.main--content {
    display:flex;
    flex-direction: column;
    margin:0 auto;
    max-width:1400px;
    justify-content: center;
}

.top--bar {
    border:1px solid #000;
    margin-top:5px;
    background: linear-gradient(
            180deg,
            rgba(39, 160, 158, 1) 0%,
            rgba(48, 206, 136, 1) 100%
    );
}

.menü {
    padding:15px 15px;
    display:flex;
    align-items: center;
    width:100%;
    justify-content: space-between;
}

.menü h2 {
    color:#fff;
}

.logo {
    width:150px;
    height:auto;
}

.menü button {
    width:10%;
}

.item-top-row {
    display:flex;
    justify-content: space-between;
    padding:25px 15px;
    padding-top:55px;
}

.item-bottom-row {
    display:flex;
    justify-content: space-around;
    padding:25px 15px;
    padding-top:55px;
}

.item {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    box-shadow: 0 4px 12px -3px rgba(0, 0, 0, 0.71);
    padding:15px 15px;
    cursor:pointer;
    transition:0.3s;
    width:250px;
    margin:25px 35px;
}

.item-new {
    position: relative;
}

.item-new a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:#fff;
}

.notice {
    position: absolute;
    top:0;
    right:0;
    background-color:red;
    color:white;
    border-radius:100%;
    padding:15px 15px;
    text-align: center;
}

.item img {
    width:65px;
}

.item p {
    margin-top:15px;
    color:#fff;
}

.item:hover {
    transform:scale(1.1);
}

.navigation--points {
    display:flex;
    justify-content: center;
    flex-direction: column;
    border-left:1px solid #000;
    border-right:1px solid #000;
    background: linear-gradient(
            180deg,
            rgba(39, 160, 158, 1) 0%,
            rgba(48, 206, 136, 1) 100%
    );
}

.navigation--points h3 {
    color:#fff;
    padding-left:45px;
    padding-top:25px;
}


.footer {
    display:flex;
    width:100%;
    border:1px solid #000;
    padding:25px 0;
    background: linear-gradient(
            180deg,
            rgba(39, 160, 158, 1) 0%,
            rgba(48, 206, 136, 1) 100%
    );
    cursor:pointer;
}

.row {
    display:flex;
    width:100%;
    justify-content: center;
}

.row p  {
    margin:0 5px;
}

.courses {
    padding:25px 25px;
    display:flex;
    flex-direction: column;
}

.courses h2 {
    color:#fff;
    border-bottom:2px solid #000;
    padding-bottom:5px;
}

.courses a {
    text-decoration: none;
    color:#fff;
    margin:5px 0;
}

.course-top-bar {
    display:flex;
    justify-content: space-around;
    border:1px solid #000000;
    padding:15px 15px;
    margin:45px 45px;
    align-items: center;
}

.course-top-bar h2 {
    color:#ffffff;
}

.course-top-bar p {
    color:#ffffff;
}

.course-bottom-bar {
    display:flex;
    justify-content: space-around;
    margin:45px 0;
    flex-wrap: wrap;
}

.course-top-bar img {
    max-width:225px;
    max-height:225px;
}

.booking {
    background-color:#000000;
    padding:15px 25px;
    border-radius:15px;
    text-align: center;
    max-width:150px;
    display:flex;
    margin:25px auto;
}

.booking  a {
    color:#ffffff;
    border:none;
    text-decoration: none;
}

.course-top-bar-desc {
    width:30%;
}

.course-top-bar-desc h2 {
    margin:15px 0;
}

.menu-icon {
    height:25px;
    border:none;
    text-align: center;
    box-shadow: none;
    background: transparent;
    background-image: url('./images/nav-m.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.tree--navigation {
    text-align: center;
    margin:45px 0;
    margin-bottom:10px;
    overflow-y:hidden;
}

.tree--navigation p {
    overflow: hidden;
}

.tree--navigation a {
    color:#fff;
    border-bottom:1px solid #fff;
}

.color--white {
    color:#fff;
}

.bg--wrapper {
    position: relative;
}

.main-menu {
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    transform: translateX(250px);
    transition: 0.5s all;
    z-index:99;
    background: linear-gradient(
            180deg,
            rgba(39, 160, 158, 1) 0%,
            rgba(48, 206, 136, 1) 100%
    );
}

.menu {
    display:flex;
    flex-direction: column;
    padding: 0 35px;
    text-align: center;
}

.menu a {
    margin:15px 0;
    color:#fff;
}

.menu-icon {
    cursor: pointer;
}

.close-menu {
    display:none;
    height:25px;
    border:none;
    text-align: center;
    box-shadow: none;
    background: transparent;
    background-image: url('./images/nav-m-close.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.add--widget {
    display:none;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: #30303073;
    overflow-y: auto;
}

.widget--content {
    z-index: 1006;
    padding: 1rem;
    border: 1px solid #cacaca;
    border-radius: 0;
    background-color: #fefefe;
    position: relative;
    top: 100px;
    margin-right: auto;
    margin-left: auto;
    overflow-y: auto;
    text-align: center;
    max-width:1000px;
    display:flex;
    flex-direction: column;
}

.widget--content select {
    max-width:300px;
    margin:45px auto;
}

.error-handler{
    cursor: pointer;
    padding:25px;
    border:1px solid #000;
    max-width:250px;
    margin:0 auto;
}

.error-message {
    display:none;
    text-align: center;
    margin-top:25px;
}

.button--close {
    position: absolute;
    top:0;
    right:0;
    height:25px;
    border:none;
    text-align: center;
    box-shadow: none;
    background-image: url('./images/nav-m-close.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    background-color: #000;
    cursor:pointer;
}

.menü {
    flex-wrap:wrap;
}

.course-top-bar {
    flex-wrap:wrap;
}

@media(max-width:1000px) {
    .course-top-bar-desc {
        width:100%;
    }
}


@media(max-width:600px) {
    .menü a {
        width:100%;
        text-align: center;
    }

    .menu-icon {
        position: fixed;
        top:15px;
        right:15px;
    }

    .close-menu {
        position: fixed;
        top:15px;
        right:15px;
        z-index:1000000000000;
    }
}
